<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.cloud.backup.mapper.WarningMessageMapper">

    <delete id="deleteMessageByRuleId">
        delete from ly_mw_warning_message where warning_id in (
        select id from ly_mw_warning_record
        <where>
            <if test="ruleIds != null and ruleIds.size() > 0">
                and rule_id in
                <foreach collection="ruleIds" open="(" separator="," item="ruleId" close=")">
                    #{ruleId}
                </foreach>
            </if>
        </where>)
    </delete>
</mapper>