<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.cloud.auth.mapper.SysUserRoleMapper">

	<resultMap type="com.ly.cloud.auth.po.SysUserRole" id="SysUserRoleResult">
		<result property="userId"     column="user_id"      />
		<result property="roleId"     column="role_id"      />
<!--		<result property="user_id"     column="user_id"      />
		<result property="role_id"     column="role_id"      />-->
	</resultMap>

	<delete id="deleteUserRoleByuser_id" parameterType="Long">
		delete from ly_sys_user_role where user_id=#{user_id}
	</delete>
	
	<select id="countUserRoleByrole_id" resultType="Integer">
	    select count(1) from ly_sys_user_role where role_id=#{role_id}
	</select>
	
	<delete id="deleteUserRole" parameterType="Long">
 		delete from ly_sys_user_role where user_id in
 		<foreach collection="array" item="user_id" open="(" separator="," close=")">
 			#{user_id}
        </foreach> 
 	</delete>
	
	<insert id="batchUserRole">
		insert into ly_sys_user_role(user_id, role_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.user_id},#{item.role_id})
		</foreach>
	</insert>
	
	<delete id="deleteUserRoleInfo" parameterType="com.ly.cloud.auth.po.SysUserRole">
		delete from ly_sys_user_role where user_id=#{user_id} and role_id=#{role_id}
	</delete>
	
	<delete id="deleteUserRoleInfos">
	    delete from ly_sys_user_role where role_id=#{role_id} and user_id in
 	    <foreach collection="user_ids" item="user_id" open="(" separator="," close=")">
 	        #{user_id}
            </foreach> 
	</delete>
</mapper> 